.site-header {
    background-color: $primary-color;
    width: 100%;
    z-index: 10;
}
/*--- top header css start ---*/
.top-header {
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    @include bp(lgx) {
        padding: 0;
    }
}
.header-contact-info {
    color: darken($light-color, 2%);
    ul {
        @include font-size(0);
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            @include font-size(13);
            padding: 0 10px;
            &:last-child {
                padding-right: 0;
            }
            &:first-child {
                padding-left: 0;
            }
            [class*="fa-"] {
                margin-right: 5px;
            }
            a {
                color: #f8f8f8;
                display: block;
                font-size: 13px;
                line-height: 1.2;
                @include transition(color 0.4s linear);
                &:hover,
                &:focus,
                &:active {
                    color: $hover-color;
                }
            }
            i {
                color: $secondary-color;
                font-size: 14px;
                font-weight: 900;
            }
        }
    }
}
.header-social {
    @include inline-flex();
    @include align-content (center);
    @include align-items (center);
    li {
        margin: 0 9px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        @include bp(xsx) {
            margin: 0 6px;
        }
    }
    a {
        color: $gray-color;
        font-size: 15px;
        font-weight: 400;
        line-height: 1;
        &:hover,
        &:focus {
            color: $hover-color;
        }
        @include bp(mdx) {
            font-size: 14px;
        }
    }
    @include bp(lgx) {
        padding: 8px 0;
    }
}
.header-search-icon {
    @include inline-flex();
    @include align-content (center);
    @include align-items (center);
    margin-left: 16px;
    .search-icon {
        background-color: transparent;
        border: none;
        border-radius: 0;
        color: $gray-color;
        padding: 0;
        
        &:hover,
        &:focus {
            outline: none;
            color: $hover-color;
        }
        @include bp(lgx) {
            border-width: 0 1px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.11);
            padding: 15px;
        }
    }
    @include bp(smx) {
        margin-left: 0;
        .search-icon {
            padding-left: 12px;
            i {
                font-size: 14px;
            }
        }
    }
}
/*--- header Logo css start ---*/
.site-identity {
    .site-title {
        margin: 0;
        line-height: 1.1;
        @include font-size(28);
        @include bp(smx) {
            margin: 10px auto;
        }
        @include bp(xsx) {
            text-align: center;
        }
    }
    .site-description {
        @include font-size(13);
        margin-bottom: 0;
    }
    img {
        max-width: 200px;
        @include transition(opacity 0.4s linear);
    }
    a {
        display: block;
        &:hover,
        &:focus,
        &:active {
            img {
                opacity: 0.5;
            }
        }
    }
    @include bp(smx) {
        img {
            max-width: 120px;
        }
    }
}
/*--------------------------------------------------------------
>>> Main Header Menu
----------------------------------------------------------------*/
@import "menu";
// side socal nav and btn 
.header-btn {
    @include flexbox();
    white-space: nowrap;
    margin-left: 30px;
    a {
        font-size: 15px;
        padding: 8px 20px;
        font-weight: 400;
        line-height: 1.7;
    }
    @include bp(mdx) {
        margin-left: 10px;
    }
    @include bp(smx) {
        @include justify-content(flex-end);
        a {
            padding: 8px 20px;
        }
    }
    @include bp(xsx) {
        margin: 0;
    }
}
/*---  bottom header css ---*/
.bottom-header {
    padding: 15px 0;
    @include bp(smx) {
        padding: 5px 0;
    }
}
/*---  header search css ---*/
.header-search-form {
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(center);
}
.header-search-form {
    background-color: rgba($dark-color, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    @include scale(0);
    @include transition(transform 0.5s, opacity 0.5s, visibility 0.5s);
    z-index: 999;
    .header-search {
        position: relative;
    }
    input[type="text"] {
        background-color: $light-color;
        color: #292929;
        border: none;
        width: 100%;
        height: 52px;
        padding: 0 20px;
        text-align: center;
    }
    .search-close {
        color: $secondary-color;
        position: absolute;
        top: 20px;
        right: 20px;
        @include font-size(18);
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        @include transition(background-color 0.4s);
        &:hover,
        &:focus,
        &:active {
            color: $hover-color;
        }
    }
    &.search-in {
        opacity: 1;
        visibility: visible;
        @include scale(1);
    }
}
/*---  fixed header css ---*/
@import "fixed-header";
/*---  mobile slick Nav css ---*/
@import "../components/slick-nav";