// Theme
$primary-color: #41246D;
$secondary-color: #F24080;
$hover-color: #961040;
$title-color: #111111;
$inner-title-color: #d9d9d9;
$light-color: #ffffff;
$dark-color: #111111;
$divider-title-color: #787878;
$text-color: #414141;
$gray-color:#d9d9d9;

// Default
$danger-color: #D9534F;
$info-color: #5BC0DE;
$success-color: #5CB85C;
$warning-color: #F0AD4E;
$disable-color: #CCC;


// Font Family
$primary-font: 'Poppins',sans-serif;
$title-font: 'Mulish', sans-serif;

// Line Hight
$body-line-height: 1.5;
$title-line-height: 1.1;


